[submodule "OlenaSukhanova"]
	path = OlenaSukhanova
	url = https://github.com/olenasukhanova/OlenaSukhanova.git
[submodule "OlenaSukhanovaBlog"]
	path = OlenaSukhanovaBlog
	url = https://github.com/olenasukhanova/OlenaSukhanovaBlog
[submodule "OlenaSukhanovaDeutsch"]
	path = OlenaSukhanovaDeutsch
	url = https://github.com/olenasukhanova/OlenaSukhanovaDeutsch
