[submodule "OlenaSukhanova"]
	path = OlenaSukhanova
	url = https://github.com/olenasukhanova/OlenaSukhanova
[submodule "OlenaSukhanova2"]
	path = OlenaSukhanova2
	url = https://github.com/olenasukhanova/OlenaSukhanova2
[submodule "OlenaSukhanova1"]
	path = OlenaSukhanova1
	url = https://github.com/olenasukhanova/OlenaSukhanova1.git
